#footer {
    padding: 1.5rem 0 .5rem 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed;
    width: 100%;
    bottom: 0;
   }

.logoHover:hover {
    opacity: 60% !important;
}