.aboutContainer {
    height: 100vh;
}

.aboutImage {
    height: 500px;
    width: 500px;
}



/* For Mobile Devices */
@media only screen and (max-width: 768px) {
    .hello {
        margin-top: 60%;
        font-size: 50px;
    }
    .myIntro {
        font-size: 25px;
    }
}